/*-------------------- Layout Formatierung ----------------------*/
html,body{
	margin:0px;
	padding:0px;
	margin-right:1%;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
    font-size: 12px;
}
#banner{
	width:100%;
	height:74px;
	background:url(../images/banner.gif) no-repeat top right;
	background-color:#1b879b !important;
}

#menues{
	clear: left;
	width:200px;
	float:left;
	margin:0px;
	padding:0px;
	padding-top:100px;
	background:url(../images/logo_new.gif) no-repeat top left;
	background-position:5px 0px;
}

#contentframe{
	margin: 10px 0 15px 210px;
}
#pathway{
	margin-bottom:10px;
}


#cleaner{
	clear:both;
	width:100%;
	height:15px;
	font-size:1px;
	border:none;
	margin:0;
	padding:0;
	background:transparent;
	text-align:right;
}

#footer{
	width:100%;
	height:42px;
	background:url(../images/footer_right.gif) no-repeat top right;
	background-color:#cde2ed !important;
	margin-bottom:10px;
}

td.link{
	width: 100px;
}

td.copyright{
	text-align:right;
	font-size: 12px;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	padding-right:10px;
}
.menu{
	background: url(../images/bottom_right.gif) no-repeat bottom right;
	background-color:#cde2ed;
	padding-bottom:10px;
}
.menu #layer1{
	background: url(../images/top_right.gif) no-repeat top right;
}
.menu #layer2{
	padding-left:20px;
}
/*-------------------- Header Formatierung ----------------------*/
ul.home, ul.left{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
ul.home li{
	display:inline;
	margin:0px;
	padding:0px;
	color: #ffffff;
	background-color:inherit;
}
ul.left li{
	display:inline;
	margin:0px;
	padding:0px;
	color: #336699;
	background-color:inherit;
}
ul.home li a{
	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none;
	font-weight:bold;
}
ul.left li a{
	font-size: 12px;
	color: #336699 !important;
	text-decoration: none;
	font-weight:bold;
}
div#breadcrumbs {
	color: #336699;
	display:inline;
}

div#lastPublished{
	text-align:right;
	color: #336699;
	display:inline;
	position:absolute; 
	right:0px;
}

/*-------------------- Pathway Formatierung ----------------------*/
div#pathway{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	overflow:hidden;
}
div#pathway ul{
	display:inline;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div#pathway ul li{
	display:inline;
	margin:0px;
	padding:0px;
	color: #336699;
	background-color:inherit;
}
div#pathway ul li a{
	color: #336699;
}

/*-------------------- Content Formatierung ----------------------*/
div#content h2{
	font-size: 16px;
	font-weight: bold;
	color: #336699;
}
div#content h3{
	/*width: 100%;*/
	padding: 4px 4px 4px 19px;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	background-image: url(../images/h3.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	border-bottom: 1px solid #cde2ed;
}
div#content ul{
    list-style-image:url(../images/arrow.png);
}
div#content a{
	font-size: 12px;
	color: #336699;
}
div#content p{
	text-align: justify;
}
div#content .source {
	padding: 12px;
	margin: 1em 7px 1em 7px;
	border: 1px solid #cde2ed;
	overflow:auto
}
div#content .source pre {
	margin: 0px;
	padding: 0px;
}
div#content .section{
	padding: 0px 0px 5px 0px;
}
div#content tt{
	font-weight:bold;
	font-size:11px;
}
div#content table {
	padding:0px;
	width: 100%;
	margin-left: -2px;
	margin-right: -2px;
}
div#content table.bodyTable th {
	text-align: left;
	font-weight: bold;
	color: white;
	background-color: #1b879b;
}
div#content table.bodyTable th, table.bodyTable td {
	padding: 4px;
	font-size: 12px;
	vertical-align: top;
}

div#content table.bodyTable tr.a {
	background-color: #dfedf4;
}

div#content table.bodyTable tr.b {
	background-color: #cde2ed;
}

div#content dt{
	padding: 4px 4px 4px 0px;
	font-weight: bold;
	font-size: 12px;
	font-weight:bold;
	font-style:italic;
}
div#content dd{
	margin: 0px 0px 10px 0px;
	padding: 3px;
	background-color: #fff9e2;
!	border: 1px dashed #336699;
	border: 1px dashed #90B5DA;
}
div#content dd ul{
	list-style-image:url(../images/arrow_blue.png);
}
img {
	border:none;
}
/*-------------------- Menu Formatierung ----------------------*/
div#layer2 ul, div#layer2 ul ul, div#layer2 ul ul ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
}
div#layer2 ul li{
	margin:0px;
	padding:0px;
}
div#layer2 ul li span{
	display:block;
	font-size:13px;
	color:#336699;
	font-weight:bold;
	padding:10px 0px 5px 0px;
	margin:0px 0px 0px 0px;
}
div#layer2 ul li ul li{
	padding:3px 0px 3px 0px;	
}
div#layer2 ul li ul li a{
	background: url(../images/nav_link_0.gif) no-repeat;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	
	padding-left: 18px;
}
div#layer2 ul li ul li a:hover{
	background: url(../images/nav_link_2.gif) no-repeat;
}
div#layer2 ul li ul li a.active{
	background: url(../images/nav_link_1.gif) no-repeat;
}
div#layer2 ul li ul li ul li{
	padding:4px 0px 4px 0px;
}
div#layer2 ul li ul li ul li a{
	background: url(../images/nav_link_0.gif) no-repeat;
	font-size: 12px;
	color: #000000;
	text-align: left;
	text-decoration: none;
	padding-left: 18px;
    margin-left: 18px;
}
div#layer2 ul li ul li ul li a:hover{
	background: url(../images/nav_link_2.gif) no-repeat;
}
div#layer2 ul li ul li ul li a.active{
	background: url(../images/nav_link_1.gif) no-repeat;
}